@import '../abstract/variaveis';

.banner {
  background: url('../../imagens/banner.jpeg') no-repeat;
  min-height: 350px;
  block-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 90%;

  .inner-banner {
    padding: 3rem;
    background-color: $cor-terciaria;
    opacity: 0.9rem;
    border-radius: 1rem;
    text-align: center;

    h1 {
      font-size: 3rem;
      color: $cor-primaria;
      font-size: $tamanho-do-texto;
    }

    h2 {
      font-size: 1.5rem;
      color: $cor-secundaria;
      font-size: $tamanho-do-texto / 2;
    }
  }
}